//- 模板头文件
doctype html
html(lang='zh-CN')
    head
        meta(charset='utf-8')
        meta(width='device-width', initial-scale='1.0', maximum-scale='1.0', user-scalable='no')
        block title
            title Default 动感小前端
        link(rel='stylesheet',href='../../lib/reveal/css/reveal.css')
        link(rel='stylesheet',href='../../lib/reveal/css/theme/black.css')
        link(rel='stylesheet',href='../../lib/reveal/lib/css/zenburn.css')
        style.
            .reveal .controls {display: none !important;}
            .left{float: left;}
            .right{float: right;}
            .t-left{text-align:left;}
            .t-right{text-align: right;}
    body
        div.reveal
            div.slides
                block content
        script(src="../../lib/reveal/lib/js/head.min.js")
        script(src="../../lib/reveal/js/reveal.js")
        script.
            Reveal.initialize({
            controls: true,
            progress: true,
            history: true,
            center: true,
            transition: 'slide', // none/fade/slide/convex/concave/zoom
            // Optional reveal.js plugins
            dependencies: [{src: '../../lib/reveal/lib/js/classList.js', condition: function () {
                    return !document.body.classList;
                }
            },
            {src: '../../lib/reveal/plugin/markdown/marked.js', condition: function () {
                    return !!document.querySelector('[data-markdown]');
                }
            },
            {src: '../../lib/reveal/plugin/markdown/markdown.js', condition: function () {
                    return !!document.querySelector('[data-markdown]');
                }
            },
            {src: '../../lib/reveal/plugin/highlight/highlight.js', async: true, callback: function () {
                    hljs.initHighlightingOnLoad();
                }
            },
            {src: '../../lib/reveal/plugin/zoom-js/zoom.js', async: true},
            {src: '../../lib/reveal/plugin/notes/notes.js', async: true}
            ]});
